In [148]:
import pandas as pd
import numpy as np
import requests
from io import StringIO

In [149]:
url = "https://fbref.com/en/comps/9/stats/Premier-League-Stats"
html_content = requests.get(url).text.replace('<!--', '').replace('-->', '')
df = pd.read_html(StringIO(html_content))[2]

In [150]:
df

    Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk               Player             Nation
0                    1           Max Aarons            eng ENG
1                    2          Tyler Adams             us USA
2                    3     Tosin Adarabioyo            eng ENG
3                    4        Simon Adingra             ci CIV
4                    5       Asher Agbinone            eng ENG
..                 ...                  ...                ...
516                498       Illia Zabarnyi             ua UKR
517                499  Oleksandr Zinchenko             ua UKR
518                500       Joshua Zirkzee             nl NED
519                 Rk               Player             Nation
520                501      Martin Ødegaard             no NOR

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   Pos              Squad                Age
0                   DF        Bournemouth             24-363
1                   MF        Bournemouth             25-322
2                   DF            Chelsea             27-099
3                FW,MF           Brighton             23-000
4                   MF     Crystal Palace             19-095
..                 ...                ...                ...
516                 DF        Bournemouth             22-122
517              DF,MF            Arsenal             28-017
518              FW,MF     Manchester Utd             23-224
519                Pos              Squad                Age
520                 MF            Arsenal             26-015

    Unnamed: 6_level_0 Playing Time                ... Per 90 Minutes        \
                  Born           MP  Starts   Min  ...            Ast   G+A
0                 2000            3       1    86  ...           0.00  0.00
1                 1999            9       5   485  ...           0.00  0.00
2                 1997            9       7   623  ...           0.00  0.00
3                 2002           13       4   430  ...           0.21  0.63
4                 2005            2       0     6  ...           0.00  0.00
..                 ...          ...     ...   ...  ...            ...   ...
516               2002           19      19  1710  ...           0.00  0.00
517               1996            6       2   238  ...           0.00  0.00
518               2001           19       7   704  ...           0.13  0.51
519               Born           MP  Starts   Min  ...            Ast   G+A
520               1998           11      11   906  ...           0.20  0.30

                                                      Unnamed: 36_level_0
     G-PK  G+A-PK    xG   xAG  xG+xAG  npxG  npxG+xAG             Matches
0    0.00    0.00  0.00  0.00    0.00  0.00      0.00             Matches
1    0.00    0.00  0.20  0.08    0.28  0.20      0.28             Matches
2    0.00    0.00  0.04  0.00    0.05  0.04      0.05             Matches
3    0.42    0.63  0.19  0.14    0.34  0.19      0.34             Matches
4    0.00    0.00  0.29  0.50    0.79  0.29      0.79             Matches
..    ...     ...   ...   ...     ...   ...       ...                 ...
516  0.00    0.00  0.03  0.02    0.06  0.03      0.06             Matches
517  0.00    0.00  0.02  0.01    0.03  0.02      0.03             Matches
518  0.38    0.51  0.38  0.11    0.49  0.38      0.49             Matches
519  G-PK  G+A-PK    xG   xAG  xG+xAG  npxG  npxG+xAG             Matches
520  0.00    0.20  0.25  0.18    0.43  0.17      0.36             Matches

[521 rows x 37 columns]

In [151]:
df.columns = df.columns.get_level_values(1)
df

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
0,1,Max Aarons,eng ENG,DF,Bournemouth,24-363,2000,3,1,86,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
1,2,Tyler Adams,us USA,MF,Bournemouth,25-322,1999,9,5,485,...,0.00,0.00,0.00,0.00,0.20,0.08,0.28,0.20,0.28,Matches
2,3,Tosin Adarabioyo,eng ENG,DF,Chelsea,27-099,1997,9,7,623,...,0.00,0.00,0.00,0.00,0.04,0.00,0.05,0.04,0.05,Matches
3,4,Simon Adingra,ci CIV,"FW,MF",Brighton,23-000,2002,13,4,430,...,0.21,0.63,0.42,0.63,0.19,0.14,0.34,0.19,0.34,Matches
4,5,Asher Agbinone,eng ENG,MF,Crystal Palace,19-095,2005,2,0,6,...,0.00,0.00,0.00,0.00,0.29,0.50,0.79,0.29,0.79,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,498,Illia Zabarnyi,ua UKR,DF,Bournemouth,22-122,2002,19,19,1710,...,0.00,0.00,0.00,0.00,0.03,0.02,0.06,0.03,0.06,Matches
517,499,Oleksandr Zinchenko,ua UKR,"DF,MF",Arsenal,28-017,1996,6,2,238,...,0.00,0.00,0.00,0.00,0.02,0.01,0.03,0.02,0.03,Matches
518,500,Joshua Zirkzee,nl NED,"FW,MF",Manchester Utd,23-224,2001,19,7,704,...,0.13,0.51,0.38,0.51,0.38,0.11,0.49,0.38,0.49,Matches
519,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
520,501,Martin Ødegaard,no NOR,MF,Arsenal,26-015,1998,11,11,906,...,0.20,0.30,0.00,0.20,0.25,0.18,0.43,0.17,0.36,Matches

In [152]:
for index, row in df.iterrows():
    if row['Rk'] == 'Rk':
        df.drop(index, inplace=True)
df

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
0,1,Max Aarons,eng ENG,DF,Bournemouth,24-363,2000,3,1,86,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
1,2,Tyler Adams,us USA,MF,Bournemouth,25-322,1999,9,5,485,...,0.00,0.00,0.00,0.00,0.20,0.08,0.28,0.20,0.28,Matches
2,3,Tosin Adarabioyo,eng ENG,DF,Chelsea,27-099,1997,9,7,623,...,0.00,0.00,0.00,0.00,0.04,0.00,0.05,0.04,0.05,Matches
3,4,Simon Adingra,ci CIV,"FW,MF",Brighton,23-000,2002,13,4,430,...,0.21,0.63,0.42,0.63,0.19,0.14,0.34,0.19,0.34,Matches
4,5,Asher Agbinone,eng ENG,MF,Crystal Palace,19-095,2005,2,0,6,...,0.00,0.00,0.00,0.00,0.29,0.50,0.79,0.29,0.79,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,497,Ashley Young,eng ENG,DF,Everton,39-176,1985,15,15,1267,...,0.21,0.28,0.07,0.28,0.02,0.09,0.11,0.02,0.11,Matches
516,498,Illia Zabarnyi,ua UKR,DF,Bournemouth,22-122,2002,19,19,1710,...,0.00,0.00,0.00,0.00,0.03,0.02,0.06,0.03,0.06,Matches
517,499,Oleksandr Zinchenko,ua UKR,"DF,MF",Arsenal,28-017,1996,6,2,238,...,0.00,0.00,0.00,0.00,0.02,0.01,0.03,0.02,0.03,Matches
518,500,Joshua Zirkzee,nl NED,"FW,MF",Manchester Utd,23-224,2001,19,7,704,...,0.13,0.51,0.38,0.51,0.38,0.11,0.49,0.38,0.49,Matches
520,501,Martin Ødegaard,no NOR,MF,Arsenal,26-015,1998,11,11,906,...,0.20,0.30,0.00,0.20,0.25,0.18,0.43,0.17,0.36,Matches

In [153]:
df.drop(['Rk', 'Matches'], axis=1, inplace=True)
df

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Max Aarons,eng ENG,DF,Bournemouth,24-363,2000,3,1,86,1.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Tyler Adams,us USA,MF,Bournemouth,25-322,1999,9,5,485,5.4,...,0.00,0.00,0.00,0.00,0.00,0.20,0.08,0.28,0.20,0.28
2,Tosin Adarabioyo,eng ENG,DF,Chelsea,27-099,1997,9,7,623,6.9,...,0.00,0.00,0.00,0.00,0.00,0.04,0.00,0.05,0.04,0.05
3,Simon Adingra,ci CIV,"FW,MF",Brighton,23-000,2002,13,4,430,4.8,...,0.42,0.21,0.63,0.42,0.63,0.19,0.14,0.34,0.19,0.34
4,Asher Agbinone,eng ENG,MF,Crystal Palace,19-095,2005,2,0,6,0.1,...,0.00,0.00,0.00,0.00,0.00,0.29,0.50,0.79,0.29,0.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,Ashley Young,eng ENG,DF,Everton,39-176,1985,15,15,1267,14.1,...,0.07,0.21,0.28,0.07,0.28,0.02,0.09,0.11,0.02,0.11
516,Illia Zabarnyi,ua UKR,DF,Bournemouth,22-122,2002,19,19,1710,19.0,...,0.00,0.00,0.00,0.00,0.00,0.03,0.02,0.06,0.03,0.06
517,Oleksandr Zinchenko,ua UKR,"DF,MF",Arsenal,28-017,1996,6,2,238,2.6,...,0.00,0.00,0.00,0.00,0.00,0.02,0.01,0.03,0.02,0.03
518,Joshua Zirkzee,nl NED,"FW,MF",Manchester Utd,23-224,2001,19,7,704,7.8,...,0.38,0.13,0.51,0.38,0.51,0.38,0.11,0.49,0.38,0.49
520,Martin Ødegaard,no NOR,MF,Arsenal,26-015,1998,11,11,906,10.1,...,0.10,0.20,0.30,0.00,0.20,0.25,0.18,0.43,0.17,0.36

In [154]:
df.to_csv("stats.csv", index=False)